.header-text {
  margin: 0 30px;
}
.mat-card {
  color: rgba($color: #000000, $alpha: 0.5);
}
.card-header-container {
  border-bottom: 1px solid gainsboro;
  margin-bottom: 10px;
  justify-content: space-between;
}


