table {
  width: 100%;
  font-size: 15px;
}

.table-header {
  font-weight: 550;
  color: #000000;
  font-size: 15px;
}

select {
  height: 35px;
  width: 150px;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

.tracking-table-container {
  margin-top: 20px;
}
mat-form-field {
  margin-right: 12px;
}

.table-container{
  height: 100px;
}
